/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.contact,
.api-icon {
  list-style: none;
  margin-bottom: 10px;
}

.api-icon i {
  margin-right: 10px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
